body {
  margin: 0px;
  border: 0px none #000000;
  padding: 0px;
  width: 100%;
  font-family: monospace;
  font-size: 16px;
}

section section {
  padding-left: 30px;
}

section h1 {
  background-color: #efefef;
}

table {
  border: 3px solid #000000;
  border-collapse: collapse;
}

td, th {
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
}

figure {
  display: inline-block;
  width: 400px;
}

img, video {
  width: 100%;
}

